<!DOCTYPE HTML>
<html>
    <head>
        <title>Sign up</title>
        
        
    </head>
    <body>
        
        <!-- <script src="./accessories1.js"></script>\ -->
    <form action="/main.js" method="POST">
        <div>
            <label for="">Username</label>
            <input type="text" name="Username" class="username">
        <label for>Email</label>
        <input type="email" name="Email" id="email">
    </div>
        <label for>Password</label>
        <input type="password" name="Password" id="password" required><br>
        <button type="submit" >Sign up</button>
        <!-- <script >
    var button=document.getElementById("button")
   button.addEventListener("click",  ()=>{
      var user=document.getElementById("email")
      var pass=document.getElementById("password")
      if(user.value ==="hatahila@gmail.com" && pass.value === "fopisfunny"){
     window.alert("you just sucessfully logged in")
     }            
     else{
     alert("Invalid credentials")
     }
     }) -->

  
        <!-- </script> -->
    </form>
</html>
</body>